.styled-text-area .text.conditions {
    -fx-fill: #7a8080;
}

.styled-text-area .text.effects {
    -fx-fill: #9876AA;
    -fx-font-weight: bold;
}

.styled-text-area .text.vars {
    -fx-fill: #9876AA;
}

.styled-text-area .text.events {
    -fx-fill: #7a8080;
    -fx-font-style: italic;
}

.styled-text-area .text.expressions {
    -fx-fill: #807348;
}

.styled-text-area .text.types {
    -fx-fill: #007e80;
    -fx-font-weight: bold;
}

.styled-text-area .text.section {
    -fx-fill: #3F7CCF;
    -fx-font-weight: bold;
}

.styled-text-area .text.operators {
    -fx-fill: #A068C7;
    -fx-font-weight: bold;
}

.styled-text-area .text.semicolon {
    -fx-font-weight: bold;
}

.styled-text-area .text.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.styled-text-area .text.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.styled-text-area .text.string {
    -fx-fill: #909296;
}

.styled-text-area .text.comment {
    -fx-fill: #909296;
}

.styled-text-area .text.console {
    -fx-fill: #680780;
    -fx-font-weight: bold;
}

.styled-text-area .text.marked {
    -fx-fill: #d64617;
    -fx-background-color: #500710;
    -fx-font-weight: bold;
}

.styled-text-area .text.color-0 {
    -fx-fill: #000000;
}

.styled-text-area .text.color-1 {
    -fx-fill: #0000AA;
}

.styled-text-area .text.color-2 {
    -fx-fill: #00AA00;
}

.styled-text-area .text.color-3 {
    -fx-fill: #00AAAA;
}

.styled-text-area .text.color-4 {
    -fx-fill: #AA0000;
}

.styled-text-area .text.color-5 {
    -fx-fill: #AA00AA;
}

.styled-text-area .text.color-6 {
    -fx-fill: #FFAA00;
}

.styled-text-area .text.color-7 {
    -fx-fill: #AAAAAA;
}

.styled-text-area .text.color-8 {
    -fx-fill: #555555;
}

.styled-text-area .text.color-9 {
    -fx-fill: #5555FF;
}

.styled-text-area .text.color-a {
    -fx-fill: #55FF55;
}

.styled-text-area .text.color-b {
    -fx-fill: #55FFFF;
}

.styled-text-area .text.color-c {
    -fx-fill: #FF5555;
}

.styled-text-area .text.color-d {
    -fx-fill: #FF55FF;
}

.styled-text-area .text.color-e {
    -fx-fill: #FFFF55;
}

.styled-text-area .text.color-f {
    -fx-fill: #FFFFFF;
}

.styled-text-area .text.numbers {
    -fx-fill: #f67c35;
}

.styled-text-area .text.console-err {
    -fx-fill: #800b07;
    -fx-font-weight: bold;
}

.styled-text-area .text.github-green {
    -fx-fill: green;
}

.github-red {
    -fx-fill: darkred;
}

.github-blue {
    -fx-fill: dodgerblue;
}

.normal {
    -fx-fill: aliceblue;
}
