.conditions {
    -fx-fill: #7a8080;
}

.vars {
    -fx-fill: #680780;
}

.events {
    -fx-fill: #7a8080;
    -fx-font-style: italic;
}

.expressions {
    -fx-fill: #807348;
}

.types {
    -fx-fill: #007e80;
    -fx-font-weight: bold;
}

.section {
    -fx-fill: #3F7CCF;
    -fx-font-weight: bold;
}

.keywords {
    -fx-fill: #3F7CCF;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #5f6063;
}

.comment {
    -fx-fill: #5f6063;
}

.console {
    -fx-fill: #680780;
    -fx-font-weight: bold;
}

.marked {
    -fx-fill: #d6030b;
    -fx-background-color: #500710;
    -fx-font-weight: bold;
}

.color-0 {
    -fx-fill: #000000;
}

.color-1 {
    -fx-fill: #0000AA;
}

.color-2 {
    -fx-fill: #00AA00;
}

.color-3 {
    -fx-fill: #00AAAA;
}

.color-4 {
    -fx-fill: #AA0000;
}

.color-5 {
    -fx-fill: #AA00AA;
}

.color-6 {
    -fx-fill: #FFAA00;
}

.color-7 {
    -fx-fill: #AAAAAA;
}

.color-8 {
    -fx-fill: #555555;
}

.color-9 {
    -fx-fill: #5555FF;
}

.color-a {
    -fx-fill: #55FF55;
}

.color-b {
    -fx-fill: #55FFFF;
}

.color-c {
    -fx-fill: #FF5555;
}

.color-d {
    -fx-fill: #FF55FF;
}

.color-e {
    -fx-fill: #FFFF55;
}

.color-f {
    -fx-fill: #FFFFFF;
}

.numbers {
    -fx-fill: #f67c35;
}

.console-err {
    -fx-fill: #800b07;
    -fx-font-weight: bold;
}
