.conditions {
    -fx-fill: #7a8080;
}

.vars {
    -fx-fill: #680780;
}

.events {
    -fx-fill: #7a8080;
    -fx-font-style: italic;
}

.expressions {
    -fx-fill: #807348;
}

.types {
    -fx-fill: #007e80;
    -fx-font-weight: bold;
}

.section {
    -fx-fill: #3F7CCF;
    -fx-font-weight: bold;
}

.keywords {
    -fx-fill: #cb3000;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #5f6063;
}

.comment {
    -fx-fill: #5f6063;
}

.console {
    -fx-fill: #680780;
    -fx-font-weight: bold;
}

.marked {
    -fx-fill: #d6030b;
    -fx-background-color: #500710;
    -fx-font-weight: bold;
}

.console-err {
    -fx-fill: #800b07;
    -fx-font-weight: bold;
}
