[Desktop Entry]
Comment=Integrated Development Environment for Skript
Exec=desktop-launch java -jar $SNAP/jar/Sk-IDE.jar
GenericName=Integrated Development Environment for Skript
Name=Sk-IDE
NoDisplay=false
StartupNotify=true
Type=Application
